name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - kubernetes/**
      - README.md
  pull_request:
    branches: [ "main" ]

jobs:

  gitleaks:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Setup GitLeaks
      uses: gitleaks/gitleaks-action@v2
    - name: Run GitLeaks
      run: gitleaks detect --verbose --source . -f json -r gitleaks.json
    
    - name: Upload GitLeaks Report
      uses: actions/upload-artifact@v4
      with:
        name: gitleaks-report
        path: gitleaks.json
    

  build:
    runs-on: ubuntu-latest
    needs: gitleaks

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Cache maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven
      

    - name: Build and Unit Test
      run: mvn clean verify

